<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
    
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h1>Tareas recientes</h1>
            </div>
            <p class="control has-icons-left">
              <input class="input is-rounded has-background-light" type="text" placeholder="Buscar">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    <div class="block">
      <%- include('partials/table.ejs'); -%>
    </div>
        <div class="container">
          <form>
            <div class="field">
              <a href="#" class="button is-rounded is-medium is-primary is-pulled-right js-modal-trigger"
              data-target="modal-js-example">
                <span class="icon is-small">
                  <i class="fa-solid fa-file-circle-plus"></i></span>
                <span>Agregar tarea</span>
              </a>
            </div>
          </form>
        </div>
        
        <script>
          document.addEventListener('DOMContentLoaded', () => {
          // Functions to open and close a modal
          function openModal($el) {
            $el.classList.add('is-active');
          }

          function closeModal($el) {
            $el.classList.remove('is-active');
          }

          function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
              closeModal($modal);
            });
          }

          // Add a click event on buttons to open a specific modal
          (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
              openModal($target);
            });
          });

          // Add a click event on various child elements to close the parent modal
          (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
              closeModal($target);
            });
          });

          // Add a keyboard event to close all modals
          document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
              closeAllModals();
            }
          });
        });

        </script>


      <form id="formTareas" class="was-validated" action="/home/tareas" method="POST">
        <div id="modal-js-example" class="modal">
          <div class="modal-background"></div>
        
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Agregar tarea</p>
              <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
              <!-- Content ... -->

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Descripción: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <textarea name="descripcion" class="textarea" placeholder="Describe la actividad que realizaste"></textarea>
                    </div>
                  </div>
                  
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Proyecto: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <div class="select">


                          <!-- INPUT PROYECTOS ------------------------------ -->
                          <!-- <div class = "input-field">
                            <input class ="input" type = "text" placeholder = "Ingresar nombre proyecto" name = "select_proyecto" id = "select_proyecto">
                          </div>
                          <div id="listaProyectos">


                          </div> -->

                          <select  class="form-select" name = "select_proyecto" id = "select_proyecto"  onchange="getValue(this);">
                            <option  value = "" selected >Select dropdown</option>
                            <% for (let p of proyectos) { %>
                            <option value = "<%= p.id_proyecto %>"> <%= p.nombre_proyecto %></option>
                            <% } %>
                          </select> 
                        </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Horas: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" id = "input_horas" name = "input_horas" type="number" placeholder="">
                      </p>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Colaboradores: </label>
                  </div>

                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <div class="select">
                          <select name = "select_colaborador" id = "select_colaborador">
                            <option value="" disabled selected>Select dropdown</option>
                            <% for (let e of empleados) { %>
                              <option value = "<%= e.id_empleado%>"><%= e.nombre %></option>
                              <% } %>
                          </select>
                          
                        </div>
                        <a class="button is-link" id="AgregarEmpleado" onclick="agregarEmpleado()">  <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>

               <div id = "Lista_Empleados">

               </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Fecha: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                      <input class="input" type="date" id="fecha_act" name="fecha_act">
                    </div>
                  </div>
                </div>
              </form>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" type="submit" id="buttonRegistrar" required > Guardar tarea </button>
              <button class="button" onclick="alertaCancelado();">Cancelar</button>
          </div>         
          </div>
          <button class="modal-close is-large" aria-label="close" ></button>
        </div>
      </footer>  
      <%- include('partials/tail.ejs'); -%>

      <script>

        function alertaCancelado(){
          return confirm ("¿Seguro que desea cancelar?\n Esta actividad no será guardada.");
        }

        // function Verificar(){
                
          
        //   let descripcion  = document.getElementById('descripcion');
        //   let select_proyecto = document.getElementById('select_proyecto');
        //   let input_horas = document.getElementById('input_horas');
        //   let select_colaborador =  document.getElementById('select_colaborador');
        //   let fecha_act = document.getElementById('fecha_act');

          
        //   if (descripcion == " " ) {
        //     alert("Campo vacío. \nVerifique sus datos");
        //     // location.reload();
        //     return false;
        //   }
        // }


        const arrayColaboradores  = [];
        // se cambia al hacer click en busqueda click

        function agregarEmpleado(){
          const colaborador = document.getElementById("select_colaborador");
          const colaboradorActual = colaborador.options[colaborador.selectedIndex];
          // aqui escribimos los nombres de los colaboradores
          const lista = document.getElementById("Lista_Empleados");
          lista.innerHTML = lista.innerHTML + '<div class="notification is-link is-light py-2 my-3 notificacionAgregarColab">' + colaboradorActual.innerHTML +' </div>';
          arrayColaboradores.push(colaboradorActual.value);
        }



        const accion_asincrona = () => {
          console.log('Accion asincrona');
          const valor = document.getElementById('select_proyecto').value;
          //función que manda la petición asíncrona
          fetch('/home/tareas/buscar/' + valor, {
          method: 'GET',
          }).then(result => {
          return result.json(); //Regresa otra promesa
          }).then(data => {
          //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            console.log(data);
            
            let html = '';
            if (data.proyectos.length > 0) {
              html = '';
                for (p of data.proyectos) {
                  html += `<div class="card" id="drop-card">`;
                  html += '<header class="card-header">';
                  html += `<p class="card-header-title"  data-proyecto = "${ p.id_proyecto }" data-proyectoID=${ p.id_proyecto }>`;
                  html += p.nombre_proyecto ;
                  html += '</p>';
                  html += '</header>';
                  html += '</div>';
                }
            } else {
              html = '<h2>No hay proyectos registrados que coincidan con los criterios de búsqueda</h2>';
            }
              document.getElementById("listaProyectos").innerHTML = html;
              document
              .querySelectorAll("#drop-card")
              .forEach((agregar) => agregar.addEventListener("click", busquedaClick));
          }).catch(err => {
              console.log(err);
            });
      };
      
      document.getElementById('select_proyecto').onkeyup = accion_asincrona;

      </script>

      
