<%- include('partials/head.ejs'); -%>
<%- include('partials/navbar-top.ejs'); -%>
    <!------------==                         TOP NAVBAR BEGINS                         ==------------>
    <div class="content">
        <div class = "box">
            <h1 class="is-size-1" style="text-align: center;"> Hola <%= nickname %> </h1>
            <img src=<%= picture %> >
        </div>
    <!------------==                         TOP NAVBAR ENDS                         ==------------>
    <%- include('partials/tail.ejs'); -%>