<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
    <div style="text-align: center;">

      <form action="/home/edit" method="POST"> 



        <div class="box">
          <div class="column is-centered">
            <p class="title">Modificar tarea</p>
          </div>

          <section class="modal-card-body">
            <!-- Content ... -->

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Descripción: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input name="descripcion"  class="textarea" value =" <%= actividades.descripcion_actividad %>" ></input>
                  </div>
                </div>
              </div>

              <br>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Proyecto: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                    <p id="proyecto" name="id_proyecto"  class="input" disabled><%= actividades.nombre_proyecto %></p>
                    <input id="proyecto" name="id_proyecto" type="hidden" value="<%= actividades.id_proyecto %>">  
                    </div>
                </div> 
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Horas: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" id = "input_horas" name = "input_horas" value="<%= actividades.num_horas %>" min="0" >
                    </p>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Fecha: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                    <input class="input" type="date" id="fecha_act" name="fecha_act" value="<%= actividades.fecha_act %>" required>
                    
                  </div>
                </div>
              </div>
        
          </section>
          <section id = "modAct" class="buttons is-right">
            <input type="submit" id="save" class="button is-primary" value="Guardar cambios">
            <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
          </form>
            <a class="button" href = "/home/tareas">Cancelar</a>
            <form action="/home/delete" method="POST">
            <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
            <button id="delete" class="button is-danger" type="submit"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></button>
            </form></section>
        </div>         
        </div>
      </div>
      



      <br><br>

        
        <script>
          document.getElementById('save').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea guardada con éxito'
            })
          });
          document.getElementById('delete').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea eliminada con éxito'
            })
          });

          const arrayColaboradores  = [];
          // se cambia al hacer click en busqueda click

          function agregarEmpleado(){
            const colaborador = document.getElementById("select_colaborador");
            const colaboradorActual = colaborador.options[colaborador.selectedIndex];
            // aqui escribimos los nombres de los colaboradores
            const lista = document.getElementById("Lista_Empleados");
            lista.innerHTML = lista.innerHTML + '<div class="notification is-link is-light py-2 my-3 notificacionAgregarColab">' + colaboradorActual.innerHTML +' </div>';
            arrayColaboradores.push(colaboradorActual.value);
          }
        </script>
        

        <%- include('partials/tail.ejs'); -%>