<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
    <div style="text-align: center;">
      <!-- <div class="title"> Modificar horas de actividad</div>
      <form action="/home/edit" method="POST">
      <fieldset>
          <label class="label" for="equipo">Agregar personas: </label>
          <div class="select is-rounded">
            <select name="select_colaborador" id="select_colaborador" required>
              <option disabled selected>Escoge un usuario</option>
              <% for (let e of empleados) { %>
                <option value="<%= e.id_empleado %>"><%= e.nombre %></option>
                <% } %>
            </select>
          </div>
          <a class="button is-link" id="AgregarEmpleado" onclick="agregarEmpleado()"><i class="fa-solid fa-user-plus"></i></a>
          <div class="column is-half is-offset-one-quarter"id="Lista_Empleados"></div>
          <br>
          
            <label class="label" for="equipo">Horas registradas:</label>
            <div class="column is-half is-offset-one-quarter">
            <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
            <input class="input is-two-thirds is-rounded is-warning has-background-warning" placeholder="" id="num_horas" name="num_horas" type="number" step="any" min="0" value="<%= actividades.num_horas %>" required>
            </div>
      </fieldset>
      <br>
      <input type="submit" id="save" class="button is-primary" value="Guardar cambios">
      <button class="button" href="/home/tareas">Cancelar</button>


      </form> -->

      <form action="/home/edit" method="POST"> 



        <div class="box">
          <header class="modal-card-head">
            <p class="modal-card-title">Modificar tarea</p>
          </header>

          <section class="modal-card-body">
            <!-- Content ... -->

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Descripción: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input name="descripcion"  class="textarea" value =" <%= actividades.descripcion_actividad %>" ></input>
                  </div>
                </div>
              </div>

              <br>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label"> Actividad del Proyecto </label>
                </div>
                      <p name="proyecto"  class="textarea" disabled><%= proyecto[0].nombre_proyecto %></p>
                      <input id="proyecto" name="id_proyecto" type="hidden" value="<%= proyecto[0].id_proyecto %>">

              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Horas: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" id = "input_horas" name = "input_horas" value="<%= actividades.num_horas %>" >
                    </p>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Colaboradores: </label>
                </div>
                <div class="field-body">
                  <div class="table">
                    <p class="control">
                      <div class="select">
                        <select name = "select_colaborador" required>
                          <option value = "" selected>Select dropdown</option>
                          <% for (let e of empleados) { %>
                            <option value = "<%= e.id_empleado%>"><%= e.nombre %></option>
                            <% } %>
                        </select>
                      </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Fecha: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                    <input class="input" type="date" id="fecha_act" name="fecha_act" required>
                    
                  </div>
                </div>
              </div>
        
          </section>
          <section id = "modAct" class="buttons is-right">
            <input type="submit" id="save" class="button is-primary" value="Guardar cambios">
            <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
          </form>
            <a class="button" href = "/home/tareas">Cancelar</a>
            <form action="/home/delete" method="POST">
            <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
            <button id="delete" class="button is-danger" type="submit"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></button>
            </form></section>
        </div>         
        </div>
      </div>
      



      <br><br>

        
        <script>
          document.getElementById('save').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea guardada con éxito'
            })
          });
          document.getElementById('delete').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea eliminada con éxito'
            })
          });

          const arrayColaboradores  = [];
          // se cambia al hacer click en busqueda click

          function agregarEmpleado(){
            const colaborador = document.getElementById("select_colaborador");
            const colaboradorActual = colaborador.options[colaborador.selectedIndex];
            // aqui escribimos los nombres de los colaboradores
            const lista = document.getElementById("Lista_Empleados");
            lista.innerHTML = lista.innerHTML + '<div class="notification is-link is-light py-2 my-3 notificacionAgregarColab">' + colaboradorActual.innerHTML +' </div>';
            arrayColaboradores.push(colaboradorActual.value);
          }
        </script>
        

        <%- include('partials/tail.ejs'); -%>