<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
    <div style="text-align: center;">
      <form action="/home/edit" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="box">
          <div class="column is-centered ">
            <p class="title ">Modificar tarea</p>
          </div>
          <section class="modal-card-body">

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Descripción: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input name="descripcion"  class="input" value ="<%= actividades.descripcion_actividad %>" ></input>
                  </div>
                </div>
              </div>
              <br>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Proyecto: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                  <p id="proyecto" name="id_proyecto"  class="input" disabled><%= actividades.nombre_proyecto %></p>
                  <input id="proyecto" name="id_proyecto" type="hidden" value="<%= actividades.id_proyecto %>"> 
                    </div>  
                </div>  
              </div>
              <br>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Horas: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input has-background-warning-light" id = "input_horas" name = "input_horas" value="<%= actividades.num_horas %>" min="0" >
                    </p>
                  </div>
                </div>
              </div>
              <p class="has-text-grey">Las horas se consideran por cada integrante, es decir horas hombre.</p>
              <br>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Participantes: </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                          <div class="columns is-multiline">
                              <% for (r of registro) { %>
                                <div class="column is-one-fifth"> 
                                  <strong><em><%= r.nombre %></em></strong><span> 
                                  <% if(  registro.length > 1) { %>
                                </span><a href="/home/registra/delete/<%= r.id %>" id="deleteColabAct" class="button is-danger is-rounded is-small" value="<%= r.id %>" type="submit"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                                <% } %>
                                </div>
                                <br>
                                <% } %>
                            </div>
                      </div>
                  </div>
                </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Colaboradores: </label>
                </div>
                <div class="field-body">
                  <div class="table">
                    <p class="control">
                      
                      <div class="columns is-multiline">
                        <% for (let e of empleados) { %>
                          
                            <div class="column is-one-fifth">
                              <label>
                                <input type="checkbox" name = "check_empleados" id="check_empleados" value="<%= e.id_empleado%>"> <%= e.nombre %> </label> <br> 
                            </div>
                          <% } %>
                        </div>
                      </div>
                  </div>
                </div>
                <br>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Fecha: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        
                      <input class="input" type="date" id="fecha_act" name="fecha_act"required>
                      
                    </div>
                  </div>
                </div>
                <% let array = String(actividades.fecha).split(" ")%> 
                    <p>Última fecha registrada: <strong><em><%- array[2] + "-" + array[1] + "-" + array[3] %></em></strong></p>
              </section>
              <section id = "modAct" class="buttons is-right">
                <input type="submit" id="save" class="button is-primary" value="Guardar cambios">
                <input id="id" name="id" type="hidden" value="<%= actividades.id_actividad %>">
              </form>
                <a class="button" href = "/home/tareas">Cancelar</a>
                </section>
              </div>
        </div>         
        </div>
      </div>
    
        <script>
          document.getElementById('save').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea guardada con éxito'
            })
          });
          document.getElementById('delete').addEventListener('click', () => {
            Swal.fire({
              icon: 'success',
              title: 'Tarea eliminada con éxito'
            })
          });

          const arrayColaboradores  = [];
          // se cambia al hacer click en busqueda click

          function agregarEmpleado(){
            const colaborador = document.getElementById("select_colaborador");
            const colaboradorActual = colaborador.options[colaborador.selectedIndex];
            // aqui escribimos los nombres de los colaboradores
            const lista = document.getElementById("Lista_Empleados");
            lista.innerHTML = lista.innerHTML + '<div class="notification is-link is-light py-2 my-3 notificacionAgregarColab">' + colaboradorActual.innerHTML +' </div>';
            arrayColaboradores.push(colaboradorActual.value);
          }
        </script>
        

        <%- include('partials/tail.ejs'); -%>