<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
      <div class="box">
        <div class="content has-text-centered">
          <h1>Reportes</h1>
        </div>
        <p class="control has-icons-left">
          <input class="input is-rounded has-background-light" type="text" placeholder="Buscar">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
        <%- include('partials/er-table.ejs'); -%>
          <%- include('partials/tail.ejs'); -%>