<%- include('partials/head.ejs'); -%>
  <%- include('partials/navbar-top.ejs'); -%>
    <%- include('partials/sidebar.ejs'); -%>
        <div class="content has-text-centered">
          <h1>Reporte semanal</h1>
        </div>
        <%- include('partials/er-table.ejs'); -%>
          <%- include('partials/tail.ejs'); -%>