
      <!-- TABLE BEGINS HERE -->
      <div class="card">
        <div class="card-content">
          
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Proyecto</th>
                <th>Actividad</th>
                <th>Duración</th>
                <th>Colaboradores</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% for (let a of actividades) { %>
              <% let array = String(a.fecha).split(" ")%>  
              <tr>
                <td><%= a.nombre_proyecto %></td>
                <td><%= a.descripcion_actividad %></td>
                <td><%= a.num_horas %></td>
                <td><%= a.nombre %></td>
                <td><%- array[2] + "-" + array[1] + "-" + array[3] %></td> 
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <!-- <tr>
                <td>Oasis</td>
                <td>Implementación</td>
                <td>2 hrs</td>
                <td>Miguel Telles</td>
                <td>06/09/22</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr>
              <tr>
                <td>Oasis</td>
                <td>Implementación</td>
                <td>2 hrs</td>
                <td>Miguel Telles</td>
                <td>06/09/22</td>
                <td>
                  <a class="button is-primary"><span class="icon"><i class="fas fa-edit"></i></span></a>
                  <a class="button is-danger"><span class="icon"><i class="fa-solid fa-trash-can"></i></span></a>
                </td>
              </tr> -->
              <% } %>
            </tbody>
          </table>
          
        </div>
      </div>
 
      <!-- TABLE ENDS HERE -->